.botonRegistrar{
    background-color: #39CB58;
    transition: background-color 0.3s;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.botonRegistrar:hover {
    background-color: #0D9739; /* Color de fondo al hacer hover */
  }

.botonLimpiar{
    background-color: #30BCEC;
    transition: background-color 0.3s;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.botonLimpiar:hover {
    background-color: #2995BA; /* Color de fondo al hacer hover */
  }

#pencil-icon {
    color: white; 
  }

  .disabled {
    pointer-events: none;
    opacity: 0.6;
}

.botonRegresar{
  background-color: #CF462B;
  transition: background-color 0.3s;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.botonRegresar:hover {
  background-color: #953B29; /* Color de fondo al hacer hover */
  color: white;
}
  